Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  -readability-identifier-naming,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/.*\.(h|hpp|cpp)$'
FormatStyle: file
User: "GnotePad"

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '1'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '1'
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: '1'
  - key: readability-identifier-length.MinimumExceptionNameLength
    value: '1'
  - key: misc-include-cleaner.IgnoreHeaders
    value: '(.*/qt6/.*|.*/qsharedpointer_impl\.h)'
