# Build directories
/build/ 
/build-* 
/out/
/Debug/
/Release/
/debug/
/release/
/optimized/
/.cache/

# Builder caches
/.flatpak-builder/
/build-dir/
/build-dir-flathub/
/scan-build-report/
/packaging/logs/

# Packaging artifacts
/packaging/dist/
/squashfs-root/
/tools/linuxdeployqt.AppImage
/tools/linuxdeployqt.AppImage.zsync

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake-build*/
Makefile
install_manifest.txt
Testing/
CTestTestfile.cmake
compile_commands.json

# Qt Creator / VSCode / CLion
*.user
*.pro.user
*.pro.user.*
*.qbs.user*
*.qmlproject.user*
.idea/

# OS files
.DS_Store
Thumbs.db
/.local/

# CodeQL
_codeql_build_dir/
_codeql_detected_source_root
GnotePad-0.8.1-x86_64.AppImage
