# Build directories
/build/
/build-* 
/out/
/Debug/
/Release/
/debug/
/release/
/optimized/
/.cache/
/_codeql_build_dir/
/_codeql_detected_source_root

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake-build*/
Makefile
install_manifest.txt
Testing/
CTestTestfile.cmake
compile_commands.json

# Qt Creator / VSCode / CLion
*.user
*.pro.user
*.pro.user.*
*.qbs.user*
*.qmlproject.user*
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
_codeql_build_dir/
_codeql_detected_source_root
